! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3


Xterm*utf8: 1
XTerm*VT100*font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-*
XTerm*VT100*font1: -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*
XTerm*VT100*font2: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
XTerm*VT100*font3: -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-*
XTerm*VT100*font4: -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-*
XTerm*VT100*font5: -*-terminus-medium-*-*-*-24-*-*-*-*-*-iso10646-*
XTerm*VT100*font6: -*-terminus-medium-*-*-*-28-*-*-*-*-*-iso10646-*
XTerm*termName: xterm-256color
XTerm*ScrollBar: false
XTerm*loginShell: true
XTerm*VT100*geometry: 132x43
XTerm*saveLines: 2000
XTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm*selectToClipboard: true

